{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/tw-output.css" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarker|{% block title %}{% endblock title %}</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/cookie.js" %}"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken')
        function csrfSafeMethod(method) {
            //Thies Http method do not require csrf protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings){
                if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        })
        document.addEventListener("DOMContentLoaded", function() {
            {% block domready %}
            
            {% endblock domready %}
        })
    </script>
</head>


<body>
    <nav class="relative container mx-auto p-6">
        <!-- Flex Container -->
        <div class="flex items-center justify-between">
            <!-- Logo -->
            <div class="pt-2">
                <img src="{% static 'img/logo.svg' %}" alt="Log0">
            </div>
            <!-- Menu Items -->
            <div class="hidden md:flex space-x-6">
                <a href="{% url 'images:list_view' %}">images</a>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a class="hover:text-darkGrayishBlue" href="">About Us</a>
                {% if request.user.is_authenticated %}
                <a class="hover:text-darkGrayishBlue" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="hover:text-darkGrayishBlue" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            <!-- Button -->
            <a href="#" class="hidden md:block p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Hola, {{request.user}}!</a>

            <!-- Hambuger Icon -->
            <button class="open block hamburger md:hidden foucus:outline-none text" id="menu-btn">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>           
        </div>
         <!-- Mobile Menu -->
         <div class="md:hidden">
            <div id="menu" class="absolute flex-col items-center hidden self-end hidden py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                <a href="{% url 'images:list_view' %}">images</a>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="">About Us</a>
                <a href="">Careers</a>
                <a href="">Community</a>
            </div>
        </div>
    </nav>
    
    <div class="container mx-auto text-black-500">
        {% block content %}
        {% endblock content %}
    </div>


</body>

</html>