{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
Image Details
{% endblock title%}

{% block content %}
<h1>{{image.title}} </h1>
<img src="{%thumbnail image.image 300x0 %}" class="image-preview">
<h3>Created by {{user.username}}</h3>


<div class="image-likes">
    {% for user in image.user_likes.all %}
    <div class="">
        <img src="{{  user.profile.photo.url }}" class="image-detail" alt="">
        <p>{{ user.first_name }}</p>
    </div>
    {% empty %}
    Nobody likes this image yet.
    {% endfor %}
</div>
{% endblock content %}